<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background: #eceff4;
        margin: 0;
      }
      .ys-content {
        min-height: calc(100vh - 180px); /* viewportHeight - header - footer */
        box-sizing: border-box;
        padding: 100px 0 50px;
      }
    </style>
    <script>
      (function (d) {
        require(d);
        var arr = [
          "react",
          "react-dom",
          "react-redux",
          "react-router",
          "redux",
          "classnames",
        ];
        while ((i = arr.pop()))
          (function (dep) {
            define(dep, d, function (b) {
              return b[dep];
            });
          })(i);
      })(["https://mobile.beta-c-onboarding-eu-north-1.aws.c.dk/fragment-common/public/bundle.js"]);
    </script>
  </head>

  <body>
    <div id="header"></div>
    <div class="ys-content">
      <div id="selfcare"></div>
      <div id="sales"></div>
      <div id="mobile"></div>
    </div>
    <div id="footer"></div>
    <div id="chat"></div>
    <fragment src="https://mobile.beta-c-onboarding-eu-north-1.aws.c.dk/fragment-header"></fragment>
    <fragment src="https://mobile.beta-c-onboarding-eu-north-1.aws.c.dk/fragment-selfcare"></fragment>
    <fragment src="https://mobile.beta-c-onboarding-eu-north-1.aws.c.dk/fragment-mobile"></fragment>
    <fragment src="https://mobile.beta-c-onboarding-eu-north-1.aws.c.dk/fragment-chat"></fragment>
    <fragment src="https://mobile.beta-c-onboarding-eu-north-1.aws.c.dk/fragment-sales"></fragment>
    <fragment src="https://mobile.beta-c-onboarding-eu-north-1.aws.c.dk/fragment-footer"></fragment>
  </body>
</html>
