<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background: #eceff4;
        padding-top: 100px;
      }
    </style>
    <script>
      (function (d) {
        require(d);
        var arr = [
          "react",
          "react-dom",
          "react-redux",
          "react-router",
          "redux",
          "classnames",
        ];
        while ((i = arr.pop()))
          (function (dep) {
            define(dep, d, function (b) {
              return b[dep];
            });
          })(i);
      })(["http://localhost:6006/public/bundle.js"]);
    </script>
  </head>

  <body>
    <div id="header"></div>
    <div id="selfcare"></div>
    <div id="sales"></div>
    <div id="mobile"></div>
    <div id="footer"></div>
    <div id="chat"></div>
    <fragment src="http://localhost:8280"></fragment>
    <fragment src="http://localhost:5000"></fragment>
    <fragment src="http://localhost:5017"></fragment>
    <fragment src="http://localhost:3017"></fragment>
    <fragment src="http://localhost:8181"></fragment>
    <fragment src="http://localhost:8281"></fragment>
  </body>
</html>
